* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

svg {
  border: 2px solid green;
  width: 100%;
  height: auto;
  margin: 0;
}

@media screen and (min-width: 750px) {
  svg {
    width: 50%;
  }
}

.yAxis text {
  font-size: 20px;
}

.xAxis text {
  font-size: 20px;
}

select,
option {
  width: 100%;
  font-size: 3vw;
}

@media screen and (min-width: 750px) {
  select,
  option {
    font-size: 1.5vw;
    width: 50%;
  }
}

span {
  display: none;
  position: fixed;
  color: red;
  background-color: yellow;
  font-size: 4vw;
  -webkit-transform: translate(-8vw, -14vw);
          transform: translate(-8vw, -14vw);
  cursor: pointer;
  padding: 0.25em;
  text-align: center;
}

@media screen and (min-width: 750px) {
  span {
    font-size: 2vw;
    -webkit-transform: translate(-4vw, -7vw);
            transform: translate(-4vw, -7vw);
  }
}

circle {
  cursor: pointer;
}
